.aboutme, .about {
    padding-block: 23.5vh;


    &-wrappr {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-myimgs {
        width: 559px;
        position: relative;

        &-image {
            position: absolute;
            border-radius: 50%;
            opacity: 0.3;
            border: 0.1px solid rgb(104, 104, 104);
            width: 400px;
            height: 400px;
            background-color:transparent;
            top: 0%;
            left: 0;
            z-index: -1;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 25%;
                height: 25%;
                top: 20%;
                left: 20px;
                box-shadow: 0 0 25px 12px #B345F1;
                filter: blur(25px);
            }
        }
    }
}