.aboutme,
.about {
    padding-block: 23.5vh;

    &-wrappr {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    &-myimgs {
        width: 559px;
        position: relative;

        &-image {
            position: absolute;
            border-radius: 50%;
            opacity: 0.3;
            border: 0.1px solid rgb(104, 104, 104);
            width: 400px;
            height: 400px;
            background-color: transparent;
            top: 0;
            transform: translateY(6%);
            left: -5%;
            z-index: -1;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 25%;
                height: 25%;
                top: 10%;
                transform: translateY(100%);
                left: 10px;
                box-shadow: 0 0 25px 12px #B345F1;
                filter: blur(25px);
            }

        }
    }

    &-info {
        margin-top: -30%;
        width: 393px;
        transform: translateX(-35%);

        &_text {
            color: rgba(255, 255, 255, 0.78);
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            margin-top: -10%;
            /* 214.286% */
            letter-spacing: 0.21px;
        }

        &_span {
            z-index: -1;

            margin-left: -20px;
        }
    }
}

.color {
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    left: 0;
    width: 350px;
    height: 350px;
    border: 0.1px solid rgb(104, 104, 104);
    border-radius: 50%;
    z-index: -1;
    opacity: 0.5;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 15%;
        height: 15%;
        top: 50%;
        transform: translateY(100%);
        right: 10px;
        box-shadow: 0 0 105px 12px #FF6E30;
        filter: blur(25px);
        opacity: 0.7;
    }
}

.color2 {
    width: 265px;
    height: 91px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(40, 48, 54, 0.20);
    backdrop-filter: blur(25px);
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translateY(100%);
    padding-top: 10px;
    padding-left: 22px;

    &-title {
        color: rgba(255, 253, 253, 0.78);
        font-family: Poppins;
        font-size: 26px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.39px;
    }

    &-subtitle {
        color: rgba(255, 253, 253, 0.55);
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

#david {
    position: absolute;
    top: -8%;
}

.about-slide {
    position: relative;
}

.btnright {
    width: 100px;
    height: 10vh;
    background-color: transparent;
    border: transparent;
    transform: translate(115vh, -59vh);

    &:active path {
        fill: #FF6E30;
        transition: 0.5s;
        transform: translateY(-59vh);
    }
}

.btnleft {
    width: 100px;
    height: 10vh;
    background-color: transparent;
    border: transparent;
    // background-color: red;
    transform: translateY(-59vh);
}

.btnleft:active path {
    fill: #FF6E30;
    transition: 0.5s;
    transform: translateY(-59vh);
}
.demo {
    background: transparent;
    border: 1px solid #323e49;
    width: 68px;
    height: 8px;
    transform: translateY(-30vh);

}
.active-btn {
    width: 198px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    margin-left: 35%;
}
.mySlides {
    display: none;
}
.active, .dot:hover {
    background-color: #FF6E30;
}
.fade {
    animation-name: fade;
    animation-duration: 1.4s;
}
@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}