.banner-graphic {
    padding: 0 20px;
}
.tg-1-content {
    display: flex;
    
}
.tg-2 {
    padding-top: 50px;
}
.tg-flex {
    display: flex;
    column-gap: 30px;
    transform: translateX(-253px);
}
