.banner-graphic {
    padding: 0 20px;
    position: relative;
}

.icon-png {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

#Vector1 {
    padding-top: 50px;
}

#Vector3 {
    position: absolute;
    top: 0;
    left: 19%;
    transform: translateX(100%);
    animation-name: Vector3;
    animation-duration: 4s;
    animation-direction: 1;
    animation-timeline: function-exists($name: animation);
}

@keyframes Vector3 {
    0% {
        opacity: 0;
        display: none;
    }

    10% {
        opacity: 0.5;
        display: block;
    }

    55% {
        transform: scale(1.3) translateX(-25px);
        opacity: 1;
        display: block;
    }
}

#Vector4 {
    position: absolute;
    top: 29px;
    left: 56%;
    transform: translateX(100%);
    animation-name: Vector4;
    animation-duration: 6s;
    animation-direction: 1;
}

@keyframes Vector4 {
    0% {
        opacity: 0;
        display: none;
    }

    25% {
        opacity: 0.5;
        display: none;
    }

    50% {
        transform: scale(1.2) translateX(-100px);
        opacity: 1;
        display: block;
    }
}

#Vector5 {
    position: absolute;
    top: 30%;
    right: 40%;
    transform: translateX(100%);
    animation-name: Vector5;
    animation-duration: 3s;
    animation-direction: 1;
}

@keyframes Vector5 {
    0% {
        opacity: 0;
        display: none;
    }

    25% {
        opacity: 0;
        display: none;
    }

    50% {
        opacity: 0.5;
        display: block;
    }

    75% {
        transform: scale(1.1) translateX(300px);
        opacity: 1;
    }
}

#Vector6 {
    position: absolute;
    top: 35%;
    right: 40%;
    transform: translateX(100%);
    animation-name: Vector6;
    animation-duration: 4s;
    animation-direction: 1;
}

@keyframes Vector6 {
    0% {
        opacity: 0;
        display: none;
    }

    25% {
        opacity: 0;
        display: none;
    }

    50% {
        opacity: 0.5;
        display: block;
    }

    85% {
        transform: scale(1.1) translateX(300px);
        opacity: 1;
    }
}

#Vector7 {
    position: absolute;
    top: 40%;
    right: 40%;
    transform: translateX(100%);
    animation-name: Vector7;
    animation-duration: 5s;
    animation-direction: 1;
    transition: 0.4s;
}

@keyframes Vector7 {
    0% {
        opacity: 0;
        display: none;
    }

    25% {
        opacity: 0;
        display: none;
    }

    50% {
        opacity: 0.5;
        display: block;
    }

    90% {
        transform: scale(1.1) translateX(300px);
        opacity: 1;
    }
}

.site-section {
    width: 100%;
    animation: moveRight 2s ease-in-out 1;
}

@keyframes moveRight {
    0% {
        transform: scale(1.1) translateY(100%);
    }
}

#Vector8 {
    position: absolute;
    top: 50%;
    right: 40%;
    transform: translateX(100%);
    animation-name: Vector8;
    animation-duration: 8s;
}

@keyframes Vector8 {
    0% {
        opacity: 0;
        display: none;
    }

    25% {
        opacity: 0;
        display: none;
    }

    50% {
        opacity: 0;
        display: none;
    }

    75% {
        opacity: 0.5;
        display: block;
    }

    90% {
        transform: scale(1.1) translateX(-50px);
        display: block;
        opacity: 1;
        transition: 4s;
    }
}

#Vector9 {
    position: absolute;
    top: 10%;
    right: 60%;
    transform: translateX(100%);
    animation-name: Vector9;
    animation-duration: 8s;
    animation-direction: 1;
}

@keyframes Vector9 {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        transition: 2s;
        opacity: 1;
        top: 20%;
        right: 40%;
        transform: translateX(100%);
    }
}