.header {
    * {
        color: rgba(255, 255, 255, 0.55);
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    #nav_link {
        color: rgba(0, 0, 0, 0.55);
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    &.nav {
        @include flexcenter;
        column-gap: 40px
    }

    .btn-groups {
        @include flexcenter;
        column-gap: 40px;
    }
    .content {
        @include flexbeetvn;
    }

    #nav {
        background-color: transparent;
        border: transparent;
    }
}