* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  width: 100%;
  background: #1E252B;
}

.header {
  padding-top: 31px;
}
.header * {
  color: rgba(255, 255, 255, 0.55);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.header #nav:active {
  border: transparent;
  background-color: transparent;
}
.header .btn-groups {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.header .btn-Login:hover {
  cursor: pointer;
  color: rgb(235, 250, 245);
  transform: scale(1.1);
}
.header .btn-Login {
  color: rgba(255, 255, 255, 0.78);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: transparent;
  border: transparent;
}
.header .btn-Login:nth-last-of-type(1) {
  width: 118px;
  height: 48px;
  border-radius: 8px;
  background: #FF6E30;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
.header .btn-Login:nth-last-of-type(1):hover {
  background: #f88f61;
  cursor: pointer;
}
.header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header #nav {
  background-color: transparent;
  border: transparent;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.header-nav_link:hover {
  transition: 0.5s;
  transform: scale(1.1);
  color: rgba(255, 246, 246, 0.55);
}

#nav:hover {
  transition: 0.5s;
  transform: scale(1.1);
  color: rgba(255, 246, 246, 0.55);
}

.site-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}

.site-logo span {
  color: rgba(255, 255, 255, 0.9);
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.header-banner {
  padding-block: 10%;
  height: 90vh;
}

.banner-catalog {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding-left: 0;
}

.banner-catalog_title {
  color: rgba(255, 255, 255, 0.9);
  font-family: Poppins;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  width: 600px;
  /* 70px */
}

.banner-catalog_text {
  color: rgba(255, 255, 255, 0.55);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 166.667% */
  width: 487px;
}

.banner-form {
  border-radius: 15px;
  border: 1.5px solid rgba(255, 255, 255, 0.1);
  background: #283036;
  width: 497.659px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 18px;
  padding-right: 11px;
  -moz-column-gap: 13px;
       column-gap: 13px;
  overflow: hidden;
  position: relative;
}

.form-search {
  background-color: transparent;
  border: transparent;
  position: absolute;
  left: 10%;
  width: 60%;
  height: 100%;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.55);
}

input[type=search]:focus {
  outline: none;
  /* outline ni yo'q qilish */
  border: none;
  /* border ni yo'q qilish */
}

.banner-form_button {
  width: 130.435px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #FF6E30;
  border: transparent;
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: 1s;
}

.banner-form_button:active {
  box-shadow: inset 0 0 36px 2px #000000;
  transition: 1s;
}

.banner-form_button:hover {
  opacity: 1.9;
  background-color: #ff9467;
}

.banner-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-graphic {
  padding: 0 20px;
  position: relative;
  overflow-x: hidden;
  margin-top: 100px;
}

.icon-png {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

#Vector1 {
  padding-top: 50px;
}

#Vector3 {
  position: absolute;
  top: 0;
  left: 19%;
  transform: translateX(100%);
  animation-name: Vector3;
  animation-duration: 4s;
  animation-direction: 1;
  animation-timeline: false;
}

@keyframes Vector3 {
  0% {
    opacity: 0;
    display: none;
  }
  10% {
    opacity: 0.5;
    display: block;
  }
  55% {
    transform: scale(1.3) translateX(-25px);
    opacity: 1;
    display: block;
  }
}
#Vector4 {
  position: absolute;
  top: 29px;
  left: 56%;
  transform: translateX(100%);
  animation-name: Vector4;
  animation-duration: 6s;
  animation-direction: 1;
}

@keyframes Vector4 {
  0% {
    opacity: 0;
    display: none;
  }
  25% {
    opacity: 0.5;
    display: none;
  }
  50% {
    transform: scale(1.2) translateX(-100px);
    opacity: 1;
    display: block;
  }
}
#Vector5 {
  position: absolute;
  top: 30%;
  right: 40%;
  transform: translateX(100%);
  animation-name: Vector5;
  animation-duration: 3s;
  animation-direction: 1;
}

@keyframes Vector5 {
  0% {
    opacity: 0;
    display: none;
  }
  25% {
    opacity: 0;
    display: none;
  }
  50% {
    opacity: 0.5;
    display: block;
  }
  75% {
    transform: scale(1.1) translateX(300px);
    opacity: 1;
  }
}
#Vector6 {
  position: absolute;
  top: 35%;
  right: 40%;
  transform: translateX(100%);
  animation-name: Vector6;
  animation-duration: 4s;
  animation-direction: 1;
}

@keyframes Vector6 {
  0% {
    opacity: 0;
    display: none;
  }
  25% {
    opacity: 0;
    display: none;
  }
  50% {
    opacity: 0.5;
    display: block;
  }
  85% {
    transform: scale(1.1) translateX(300px);
    opacity: 1;
  }
}
#Vector7 {
  position: absolute;
  top: 40%;
  right: 40%;
  transform: translateX(100%);
  animation-name: Vector7;
  animation-duration: 5s;
  animation-direction: 1;
  transition: 0.4s;
}

@keyframes Vector7 {
  0% {
    opacity: 0;
    display: none;
  }
  25% {
    opacity: 0;
    display: none;
  }
  50% {
    opacity: 0.5;
    display: block;
  }
  90% {
    transform: scale(1.1) translateX(300px);
    opacity: 1;
  }
}
.site-section {
  width: 100%;
  animation: moveRight 2s ease-in-out 1;
}

@keyframes moveRight {
  0% {
    transform: scale(1.1) translateY(100%);
  }
}
#Vector8 {
  position: absolute;
  top: 50%;
  right: 40%;
  transform: translateX(100%);
  animation-name: Vector8;
  animation-duration: 8s;
}

@keyframes Vector8 {
  0% {
    opacity: 0;
    display: none;
  }
  25% {
    opacity: 0;
    display: none;
  }
  50% {
    opacity: 0;
    display: none;
  }
  75% {
    opacity: 0.5;
    display: block;
  }
  90% {
    transform: scale(1.1) translateX(-50px);
    display: block;
    opacity: 1;
    transition: 4s;
  }
}
#Vector9 {
  position: absolute;
  top: 10%;
  right: 60%;
  transform: translateX(100%);
  animation-name: Vector9;
  animation-duration: 8s;
  animation-direction: 1;
}

@keyframes Vector9 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    transition: 2s;
    opacity: 1;
    top: 20%;
    right: 40%;
    transform: translateX(100%);
  }
}
.site-section2 {
  width: 110px;
  top: 10%;
  right: 20%;
  transform: translateX(-50%);
  position: relative;
}

#page3 {
  position: absolute;
  top: 0;
}

#page4 {
  position: absolute;
  top: 5%;
  transform: translateY(10px);
  left: 20px;
}

#page5 {
  position: absolute;
  top: 33%;
  left: 0;
  transform: translateX(10px);
}

#page6 {
  position: absolute;
  top: 38%;
  left: 0;
  transform: translateX(10px);
}

#page7 {
  position: absolute;
  top: 44%;
  left: 0;
  transform: translateX(10px);
}

#page8 {
  position: absolute;
  top: 50%;
  left: -10px;
}

#page9 {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(33%);
}

#page10 {
  position: absolute;
  top: 65%;
  left: 0%;
}

.most {
  width: 100%;
  padding-top: 10vh;
  height: 90vh auto;
}
.most-info {
  max-width: 455px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-left: 35%;
  padding-bottom: 90px;
}
.most-info_title {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 62.4px */
}
.most-info_subtitle {
  color: rgba(255, 255, 255, 0.55);
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  /* 166.667% */
}
.most-catalog-wrappr {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 100px;
}
.most-catalog {
  width: 392px;
  height: 294px;
  padding: 33px 34px;
  border-radius: 15px;
  background: #1E252B;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}
.most-catalog::before {
  content: " ";
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  background: radial-gradient(var(--clr), transparent, transparent);
  width: 500px;
  height: 250px;
  opacity: 0;
  transition: 0.5s, top 0s, left 0s;
}
.most-catalog:hover::before {
  opacity: 1;
}
.most-catalog::after {
  content: "";
  position: absolute;
  inset: 2px;
  border-radius: 18px;
  background: rgba(40, 48, 54, 0.9);
  opacity: 0;
  z-index: 0;
}
.most-catalog:hover::after {
  opacity: 1;
}
.most-catalog:hover .like path {
  fill: #FD3B41;
}
.most-catalog:hover .like-blog .like {
  width: 42px;
  height: 42px;
  border-radius: 8px;
  background: #283036;
  box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
  padding: 7px 7px;
}
.most-catalog:hover .catalog-btn-visit {
  border-radius: 8px;
  background: #FF6E30;
  padding: 9px 35px;
  position: absolute;
  right: 15px;
  bottom: 30px;
}
.most-catalog:hover .btn-icon {
  position: absolute;
}
.most-catalog:hover {
  transform: scale(1.1);
}

.catalog-logo {
  display: flex;
  padding-bottom: 31px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.catalog-info {
  width: 326px;
  padding-bottom: 37px;
}
.catalog-info_text {
  color: rgba(255, 255, 255, 0.55);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 187.5% */
}

.logo-info {
  display: flex;
  flex-direction: column;
}
.logo-info_title {
  color: rgba(255, 255, 255, 0.78);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.logo-info_subtitle {
  color: rgba(255, 165, 55, 0.55);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.catalog-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-icon {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
}

.catalog-btn-visit_link {
  color: rgba(255, 255, 255, 0.55);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.more {
  display: block;
  text-align: center;
  margin-block: 100px;
  margin-left: 45%;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #1E252B;
  width: 184px;
  height: 64px;
  color: #FF6E30;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.brand {
  width: 100%;
  padding-block: 8vh;
  padding-bottom: 21vh;
}
.brand-title {
  position: absolute;
  z-index: 1;
  color: rgba(255, 255, 255, 0.8);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  left: 39%;
}
.brand-logos {
  padding: 55px 85px;
  border-radius: 25px;
  border: 2px solid rgba(255, 255, 255, 0.05);
  background: rgba(44, 53, 61, 0.2);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  position: relative;
  overflow: hidden;
}
.brand-logos::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
  background: radial-gradient(var(--clr), transparent, transparent);
  top: var(--y);
  left: var(--x);
  opacity: 0;
}
.brand-logos:hover::before {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  transform: translate(-50%, -50%);
  background: radial-gradient(var(--clr), transparent, transparent);
  top: var(--y);
  left: var(--x);
  opacity: 1;
}
.brand-logos::after {
  content: "";
  position: absolute;
  inset: 2px;
  border-radius: 18px;
  background: rgba(40, 48, 54, 0.9);
  opacity: 0;
  z-index: 0;
}
.brand-logos:hover::after {
  opacity: 1;
}
.brand-logo-wrappr {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 107px;
       column-gap: 107px;
  padding-top: 91px;
}

.newcomer {
  padding-block: 20vh;
  padding-top: 40vh;
}
.newcomer-content {
  display: flex;
  justify-content: start;
  align-items: start;
  -moz-column-gap: 220px;
       column-gap: 220px;
  margin: 0;
  padding: 0;
}
.newcomer-info {
  width: 427px;
}
.newcomer-info_title {
  color: rgba(255, 255, 255, 0.9);
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 62.4px */
  padding-bottom: 30px;
}
.newcomer-info_text {
  color: rgba(255, 255, 255, 0.55);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  padding-bottom: 60px;
  /* 166.667% */
}
.newcomer-info_button {
  width: 198px;
  height: 58px;
  border-radius: 8px;
  background: #FF6E30;
  color: #FFF;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.newcomer-platform {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 50px;
}
.newcomer .platform-catalog {
  width: 288px;
  height: 284px;
  border-radius: 15px;
  background: #1E252B;
  padding: 29px 22px;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}
.newcomer .platform-catalog:hover {
  transform: scale(1.1);
}
.newcomer .platform-catalog::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
  background: radial-gradient(var(--clr), transparent, transparent);
  top: var(--y);
  left: var(--x);
  opacity: 0;
}
.newcomer .platform-catalog:hover::before {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  transform: translate(-50%, -50%);
  background: radial-gradient(var(--clr), transparent, transparent);
  top: var(--y);
  left: var(--x);
  opacity: 1;
}
.newcomer .platform-catalog::after {
  content: "";
  position: absolute;
  inset: 2px;
  border-radius: 18px;
  background: rgba(40, 48, 54, 0.9);
  opacity: 0;
  z-index: 0;
}
.newcomer .platform-catalog:hover::after {
  opacity: 1;
}
.newcomer .platform-catalog-logo {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.newcomer .platform-catalog-info {
  width: 245px;
  position: relative;
}
.newcomer .platform-catalog-info_text {
  color: rgba(255, 255, 255, 0.55);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-block: 37px;
  position: absolute;
  z-index: 1;
  /* 214.286% */
}
.newcomer .platform-catalog-logo-info {
  width: 101px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.newcomer .catalog-logo-info_title {
  color: rgba(255, 255, 255, 0.78);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.newcomer .catalog-logo_subtitle {
  color: rgba(255, 165, 55, 0.55);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.platform-catalog-btn {
  margin-top: 135px;
}

.newcomer-visit_link {
  margin-right: 22px;
  transition: 0.5s;
}
.newcomer-visit_link:hover {
  width: 106px;
  height: 42px;
  border-radius: 8px;
  background: #FF6E30;
  padding: 9px 35px;
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  margin-right: 21px;
}

.aboutme,
.about {
  padding-block: 23.5vh;
}
.aboutme-slide,
.about-slide {
  padding-top: 0;
}
.aboutme-wrappr,
.about-wrappr {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutme-myimgs,
.about-myimgs {
  width: 559px;
  position: relative;
}
.aboutme-myimgs-image,
.about-myimgs-image {
  position: absolute;
  border-radius: 50%;
  opacity: 0.3;
  border: 0.1px solid rgb(104, 104, 104);
  width: 400px;
  height: 400px;
  background-color: transparent;
  top: 0;
  transform: translateY(6%);
  left: -5%;
  z-index: -1;
  position: relative;
}
.aboutme-myimgs-image::before,
.about-myimgs-image::before {
  content: "";
  position: absolute;
  width: 25%;
  height: 25%;
  top: 10%;
  transform: translateY(100%);
  left: 10px;
  box-shadow: 0 0 25px 12px #B345F1;
  filter: blur(25px);
}
.aboutme-info,
.about-info {
  margin-top: -30%;
  width: 393px;
  transform: translateX(-35%);
}
.aboutme-info_text,
.about-info_text {
  color: rgba(255, 255, 255, 0.78);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-top: -10%;
  /* 214.286% */
  letter-spacing: 0.21px;
}
.aboutme-info_span,
.about-info_span {
  z-index: -1;
  margin-left: -20px;
}

.color {
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  left: 0;
  width: 350px;
  height: 350px;
  border: 0.1px solid rgb(104, 104, 104);
  border-radius: 50%;
  z-index: -1;
  opacity: 0.5;
  position: relative;
}
.color::before {
  content: "";
  position: absolute;
  width: 15%;
  height: 15%;
  top: 50%;
  transform: translateY(100%);
  right: 10px;
  box-shadow: 0 0 105px 12px #FF6E30;
  filter: blur(25px);
  opacity: 0.7;
}

.color2 {
  width: 265px;
  height: 91px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(40, 48, 54, 0.2);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translateY(100%);
  padding-top: 10px;
  padding-left: 22px;
}
.color2-title {
  color: rgba(255, 253, 253, 0.78);
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.39px;
}
.color2-subtitle {
  color: rgba(255, 253, 253, 0.55);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#david {
  position: absolute;
  top: -8%;
}/*# sourceMappingURL=index.css.map */